#JDBC Configuration for Database Connection
jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://{{ db_host }}:{{ db_port }}/accounts?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
jdbc.username={{ db_user }}
jdbc.password={{ db_password }}

#Memcached Configuration For Active and StandBy Host
#For Active Host
memcached.active.host={{ memcached_active_host }}
memcached.active.port={{ memcached_active_port }}
#For StandBy Host
memcached.standBy.host={{ memcached_standby_host }}
memcached.standBy.port={{ memcached_standby_port }}

#RabbitMq Configuration
rabbitmq.address={{ rabbitmq_host }}
rabbitmq.port={{ rabbitmq_port }}
rabbitmq.username={{ rabbitmq_user }}
rabbitmq.password={{ rabbitmq_password }}

#Elasticsearch Configuration
elasticsearch.host={{ elasticsearch_host }}
elasticsearch.port={{ elasticsearch_port }}
elasticsearch.cluster={{ elasticsearch_cluster }}
elasticsearch.node={{ elasticsearch_node }}

